@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin :0;
    background-color: #210002;
    font-family: Poppins;
    font-size: 15px;
}
.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('img/0.png');
}
.banner .bg-2{
    background-image: url('img/1.png');
}
.banner .bg-3{
    background-image: url('img/2.png');
}
.banner .bg-4{
    background-image: url('img/3.png');
}
.banner .bg-5{
    background-image: url('img/4.png');
}
.banner .bg-6{
    background-image: url('img/5.png');
}
.banner .bg-7{
    background-image: url('img/6.png');
}
.banner .bg-8{
    background-image: url('img/7.png');
}
.banner .bg-9{
    background-image: url('img/8.png');
}
.banner  h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
}
.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.intro p{
    width: 700px;
    max-width: 100%;
    text-align: center;
}
.intro button{
    background-color: #FD0003;
    padding: 10px 50px;
    border: 1px solid #591F1D;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}
.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}
.library{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}
.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .banner h1{
        font-size: 5rem;
    }
    .library{
        grid-template-columns: repeat(2, 1fr);
    }
    .library img{
        height: 300px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin :0;
    background-color: #210002;
    font-family: Poppins;
    font-size: 15px;
}
.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('img/0.png');
}
.banner .bg-2{
    background-image: url('img/1.png');
}
.banner .bg-3{
    background-image: url('img/2.png');
}
.banner .bg-4{
    background-image: url('img/3.png');
}
.banner .bg-5{
    background-image: url('img/4.png');
}
.banner .bg-6{
    background-image: url('img/5.png');
}
.banner .bg-7{
    background-image: url('img/6.png');
}
.banner .bg-8{
    background-image: url('img/7.png');
}
.banner .bg-9{
    background-image: url('img/8.png');
}
.banner  h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
}
.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.intro p{
    width: 700px;
    max-width: 100%;
    text-align: center;
}
.intro button{
    background-color: #FD0003;
    padding: 10px 50px;
    border: 1px solid #591F1D;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}
.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}
.library{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}
.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .banner h1{
        font-size: 5rem;
    }
    .library{
        grid-template-columns: repeat(2, 1fr);
    }
    .library img{
        height: 300px;
    }
}


/* Placeholder style */
.navbar .form-control::placeholder {
    color: rgb(206, 206, 206) !important;
    opacity: 1; /* Đảm bảo màu placeholder hiển thị rõ ràng */
}
.search-container .form-control {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px; /* Độ bo tròn của ô tìm kiếm */
    border: 2px solid white; /* Màu đường viền */
    height: 38px; /* Chiều cao của ô tìm kiếm */
    color: rgb(11, 7, 7) !important;
    background-color: #eee; /* Để input trong suốt */
}

/* Navbar styles */
.navbar {
    background-color: #F07900;
}

.navbar-brand img {
    width: 100px; /* Đặt kích thước chiều rộng mong muốn */
    height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
}

.nav-link {
    color: white !important;
    font-size: 1.1em; /* Tăng kích thước font chữ */
}

.nav-link:hover {
    text-decoration: underline; /* Gạch chân khi hover */
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar .btn {
    color: white !important;
    font-size: 18px; /* Điều chỉnh kích thước phông chữ */
}

/* Dropdown menu styles */
.navbar .dropdown-menu {
    background-color: #ffffff; /* Màu nền của dropdown */
    border-color: #fefefe; /* Màu đường viền của dropdown */
}

.navbar .dropdown-menu .dropdown-item {
    color: black !important;
    font-size: 18px; /* Kích thước phông chữ cho các mục dropdown */
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: white !important; /* Màu khi hover vào mục dropdown */
    background-color: black !important; /* Màu nền khi hover */
}

/* Button styles */
.navbar .btn-outline-success {
    color: white !important;
    border-color: white !important;
    background: transparent;
}

.navbar .btn-outline-success:hover {
    color: rgb(242, 87, 87) !important;
    background-color: white !important;
    border-color: white !important;
}

#fixed-menu {
    position: sticky;
    top: 0;
    z-index: 10000;
  }

  .container-map {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
}

.row {
    margin-left: 0 !important; 
}
.map {
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info h2 {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

.info p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #555;
    font-size: 16px;
}

.info p .anticon {
    margin-right: 10px;
    color: #1890ff;
}

.info a {
    color: #1890ff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: white;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}

.footer_menu{
    margin-left: 10px;
}
footer {
    margin-top: 15px;
    background: #333;
    padding: 20px 0;
    color: #fff;
}

.footer p{  
    margin: 0px auto;
}
  