body {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    background-color: #F07900;
    height: 94px;
    width: 100%;
}
.wrap_header{
    display: flex;
    align-items: center;
}

.logo,
.menu ul li,
.button button,
.search_bar input,
.language ul li, 
.menu ul .button, 
.language ul .icon{
    display: flex; 
    justify-content: center; 
    align-items: center;
    float: left;
}
 
.header .wrap_header .logo {
    margin-left: 50px; 
}
.header .wrap_header .search_bar input {
  width: 409px; 
  header: 46px; 
  border-radius: 20px; 
}
.header .wrap_header .menu{
    padding-left: 150px; 
}
.header .wrap_header .menu ul li a{
    text-decoration: none; 
    color: #fff; 
    font-size: 22px; 
    font-weight: bold; 
    padding-top: 7px; 

}
.header .wrap_header .menu ul li, .header .wrap_header .menu ul .button{
    padding-left: 25px; 
}
.header .wrap_header .menu ul .button{
    max-width: 179px; 
    height: 41px; 
    background-color: #fff; 
    padding-right: 20px; 
    margin-left: 20px; 
    

}
.header .wrap_header .menu ul .button a{
    text-decoration: none; 
    font-size: 22px; 
    color: #F07900; 
    font-weight: bold; 
    margin: 0 auto; 

}
.header .wrap_header .language{
    font-size: 18px; 
    color: #fff; 

}
.header .wrap_header .language .icon{
    margin-top: 7px;
    margin-left: 5px; 
}

.parallax {
    min-height: 1000vh; 
    background: linear-gradient(#333, #111); 

}

.parallax h1 {
    z-index:1; 
    margin: 0;
    color: #fff; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 3.5 rem; 
}

.front-layer, .back-layer{
    z-index: 0; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.front-layer, .back-layer img{
    position: absolute;
}

.parallax .front-layer .rauphai{
    position: absolute;
    padding-left: 1200px; 
    padding-bottom: 900px; 
}
.parallax .front-layer .cachuatren{
    position: absolute;
    padding-left: 300px; 
    padding-top: 150px; 
}
.parallax .back-layer .gatren{
    position: absolute;
    padding-left: 800px; 
    padding-top: 100px; 
}
.parallax .front-layer .diarautraiduoi{
    position: absolute;
    padding-left: 600px; 
    padding-top: 550px; 
}
.parallax .front-layer .phogiuaduoi{
    position: absolute;
    padding-left: 450px; 
    padding-top: 470px; 
}
.parallax .back-layer .rautrai{
    position: absolute; 
    padding-top: 300px; 
    margin-right: 1400px; 
}